---
- block: 
  - name: Add py running user
    user:
      name: "{{ py_user }}"
      comment: "{{ py_user | capitalize }}"
      shell: /bin/bash
      create_home: no
      state: present
      append: yes
      groups:
        - gpio
        - www-data

  - name: make install folder
    file:
      path: "{{ item }}"
      state: directory
      owner: "{{ py_user }}"
      group: "{{ py_user }}"
      mode: ug=rwX,o=rX
    loop:
      - '{{ install_path }}'
      - '{{ csv_file_path }}'

  - name: "Render python script"
    template:
      src: "Berrybase-DHT22.py.j2"
      dest: "{{ install_path }}/{{ py_script_name }}"
      owner: "{{ py_user }}"
      group: "{{ py_user }}"
      mode: '0644'

  - name: "Render watch script"
    template:
      src: "watch-temp.sh.j2"
      dest: "/usr/local/bin/berrywatch"
      owner: "{{ py_user }}"
      group: "{{ py_user }}"
      mode: '0755'
 
  - name: "Render service file"
    template:
      src: "berrybase-dht22.service.j2"
      dest: "/etc/systemd/system/{{ service_name }}.service"
      owner: "root"
      group: "root"
      mode: '0644'

  - name: Start py service
    ansible.builtin.systemd:
      name: '{{ service_name }}.service'
      state: started
      daemon_reload: yes
      enabled: yes

