fetch("values.csv")
	.then(function (response) {
		return response.text();
    let data = response.text();
	})
	.then(function (text) {
		let series = csvToSeries(text);
		renderChart(series);
	})
	.catch(function (error) {
		//Something went wrong
		console.log(error);
	});

function csvToSeries(text) {
	console.log(text);
	let dataAsJson = JSC.csv2Json(text);
	console.log(dataAsJson);
  let points = dataAsJson.map(d => {
  return { x: 'd.Date&Time', y: d.Temperatur };
	});
}

function renderChart(series) {
	let dataAsJson = JSC.csv2Json(text);
  let points = dataAsJson.map(d => {
  return { x: 'd.Date&Time', y: d.Temperatur };
	});

  const chart = new JSC.Chart('chartDiv', {
    // Pass points to the series
    series: [{
        points: points
    }],
    // Set the x axis scale to time.
    xAxis_scale_type: 'time'
});
}

